---
layout: post
title: Index
---

<div class="list-group list-group-flush">
{% for subject in site.subjects %}
{% assign category = subject.slug %}
{% assign posts = site.categories[category] %}
{% if posts.size > 0 %}
  <a href="{{ subject.url }}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ subject.title }}</h5>
    </div>
    <p class="text-muted">
      <small>
        {{ posts.size }}
        {% if posts.size == 1 %} item {% else %} items {% endif %}
        <span>
          {% assign latest_post = posts.first %}
          — Updated {{ latest_post.date | date: "%B %Y" }}
        </span>
      </small>
    </p>
  </a>
{% endif %}
{% endfor %}
</div>
