---
layout: page
title: Index
---
{% for category in site.categories %}
<p>
  <a href="{{ site.url }}/{{ category[0] }}">
    {{ category[0] | capitalize }}
  </a>
 ({{ category[1].size }})
</p>
{% endfor %}

<h1>Tags</h1>

{% assign rawtags = "" %}
{% for post in site.posts %}
    {% assign ttags = post.tags | join:'|' | append:'|' %}
    {% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
    {% if tag != "" %}
        {% if tags == "" %}
            {% assign tags = tag | split:'|' %}
        {% endif %}
        {% unless tags contains tag %}
            {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
        {% endunless %}
    {% endif %}
{% endfor %}

<p>
{% for tag in tags %}
  <a href="#{{ tag | slugify }}">
    {{ tag }}
  </a>
{% endfor %}
</p>

{% for tag in tags %}

<h2 id="{{ tag | slugify }}">{{ tag }}</h2>

    {% for post in site.posts %}
    {% if post.tags contains tag %}
        {% include summary.html post=post style="index" %}
    {% endif %}
    {% endfor %}

{% endfor %}
