<div class="card-columns">
  {% for post in include.posts %}
  <div class="card-block">
  <div class="card border-white">
    {% assign post_image = post.image.path | default: post.image %}
    {% if post_image %}
    <img class="card-img-top" alt="{{ post.title | escape }}" src="{{ post_image }}">
    {% endif %}
    <div class="card-body">
      <span class="card-title">
        <a href="{{ post.url | prepend: site.baseurl }}" class="card-link text-body stretched-link text-decoration-none" itemprop="url"></a>
        {% if include.body != false %}
        <strong itemprop="name">{{ post.title | escape }}</strong>
        &mdash;
        <span class="card-description" itemprop="description">
          {% assign post_summary = post.excerpt | default: post.description %}
          {{ post_summary | strip_html | normalize_whitespace | truncatewords: 35}}
        </span>
        {% endif %}
      </span>
    </div>
  </div>
  </div>
  {% endfor %}
</div>
