<div class="footer-copyright d-flex flex-wrap justify-content-center">
{%- capture first_year -%}
  {%- if site.posts.size > 0 -%}
  {%- assign first_post = site.posts | sort: "date", "last" | first -%}
  {{ first_post.date | date: "%Y" }}-
  {%- endif -%}
{%- endcapture -%}
{%- capture this_year -%}
  {{ site.time | date: "%Y" }}
{%- endcapture -%}
{%- capture site_author -%}
  {%- if site.author -%}
  {{ site.author.name | default: site.author }}
  {%- else -%}
  {{ site.name }}
  {%- endif -%}
{%- endcapture -%}
© {{ first_year }}{{ this_year }} {{ site_author }}. All Rights Reserved.
</div>
