<header class="site-header">
  <nav data-rmd>
    <span class="site-title">
      <a href="{{ site.url }}">
        {{ site.title }}
      </a>
    </span>
    <a href="{{ "/about" | prepend: site.url }}">
      About
    </a>
    <a href="{{ "/indexes" | prepend: site.url }}">
      Index
    </a>
    <a href="{{ "/feed.xml" | prepend: site.url }}">
      Feed
    </a>
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}" title="Github">
      Github
    </a>
    {% endif %}
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
      Twitter
    </a>
    {% endif %}
  </nav>
</header>
