<header>
  <nav class="navbar navbar-expand navbar-light bg-white border-bottom">
    <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ '/' | prepend: site.baseurl }}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/about' | prepend: site.baseurl }}">About</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</header>
