<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

{% capture page_title %}
{% if page.title and page.title != "" %}
{{ page.title }}
{% else %}
{% assign post_summary = page.excerpt | default: page.description %}
{{ post_summary | strip_html | normalize_whitespace | truncatewords: 8}}
{% endif %}
{% endcapture %}

<title>{{ page_title | escape }} | {{ site.title | escape }}</title>
<link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">

{% include meta.html %}
{% feed_meta %}

<link rel="stylesheet" href="{{ "/assets/css/app.css" | relative_url }}">
