{%- assign title = page.title | default: site.title | escape -%}
{%- assign description = page.description | default: site.description | strip | escape -%}

{% assign image = page.image.path | default: page.image %}
{%- assign image = image | default: site.image -%}
{%- capture image_url -%}
{%- unless image contains "://" -%}
{% picture meta {{ image }} %}
{%- else -%}
{{ image }}
{% endunless %}
{%- endcapture -%}

{%- comment -%} Canonical URL {%- endcomment -%}
<link rel="canonical" href="{{ page.url | absolute_url }}">

{%- comment -%} Basic SEO {%- endcomment -%}
<meta name="description" content="{{ description }}">
<meta name="robots" content="index, follow">
{% if site.author %}<meta name="author" content="{{ site.author.name | default: site.author }}">{% endif %}

{%- comment -%} Open Graph / Facebook {%- endcomment -%}
<meta property="og:url" content="{{ page.url | absolute_url }}">
{%- if page.layout == 'post' or page.layout == 'article' -%}
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ page.published_at | default: page.date | date_to_xmlschema }}">
{%- if page.last_modified_at -%}
<meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">
{%- endif -%}
{%- comment -%} Handle post-specific authors, falling back to site author {%- endcomment -%}
{%- if page.author -%}
{%- for author in page.author -%}
{%- assign authorDetails = site.data.authors[author] -%}
<meta property="article:author" content="{{ authorDetails.name | default: author }}">
{%- endfor -%}
{%- elsif site.author -%}
<meta property="article:author" content="{{ site.author.name | default: site.author }}">
{%- endif -%}
{%- if page.category -%}
<meta property="article:section" content="{{ page.category }}">
{%- endif -%}
{%- for tag in page.tags -%}
<meta property="article:tag" content="{{ tag }}">
{%- endfor -%}
{%- else -%}
<meta property="og:type" content="website">
{%- endif -%}
<meta property="og:title" content="{{ title }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ image_url }}">
<meta property="og:locale" content="{{ site.lang | default: 'en_US' | replace: '-', '_' }}">

{%- comment -%} Twitter Card {%- endcomment -%}
{% assign twitter_user = site.social_links | where: "title", "Twitter" | first -%}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:site" content="{{ site.title | escape }}">
<meta name="twitter:description" content="{{ description }}">
{% if twitter_user %}<meta name="twitter:creator" content="@{{ twitter_user.url | split: "/" | last }}">{% endif %}
<meta name="twitter:image" content="{{ image_url }}">
