{%- assign title = page.title | default: site.title | escape -%}
{%- assign description = page.description | default: site.description | strip | escape -%}

{% assign image = page.image.path | default: page.image %}
{%- assign image = image | default: site.default_img -%}
{%- unless image contains "://" -%}
  {%- assign image = image | absolute_url -%}
{%- endunless -%}

<meta name="description" content="{{ description }}">

<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ title }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ image }}">

{% assign twitter_user = site.social | where: "name", "twitter" | first -%}
<meta name="twitter:url" content="{{ page.url | absolute_url }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:site" content="{{ site.title | escape }}">
<meta name="twitter:description" content="{{ description }}">
{% if twitter_user %}<meta name="twitter:creator" content="@{{ twitter_user.url | split: "/" | last }}">{% endif %}
<meta property="twitter:image" content="{{ image }}">
