  <div data-rmd="h1-underline">
<h1>
  <a href="{{ include.post.url | prepend: site.url }}">
    <span class="post-title">{{ include.post.title }}</span>
  </a>
</h1>
  </div>
<p>
{% if include.post.description %}
<span class="description">
  {{ include.post.description }}
{% endif %}
</span>
  (<span class="details">
    {{ include.post.date | date_to_string }}{% if include.post.location %},
    {{ include.post.location }}{% endif %}
  </span>)
  {% if include.post.author %}
  by
  {{ include.post.author }}
  {% endif %}
</p>
{{ include.post.content }}
<p>
  <a href="{{ site.url }}/{{ include.post.category }}">
  {{ include.post.category }}
  </a>
  {% if include.post.link %}
  <a href="{{ include.post.link }}">
    link
  </a>
  {% endif %}
</p>
