  <div data-rmd="h1-underline">
<h1>
  {% include title.html post=include.post %}
</h1>
  </div>
<p>
  {% include byline.html post=include.post authors=true %}
</p>
{% if include.post.image %}
<p>
  <img src="{{ include.post.image }}" alt="{{ include.post.title }}" />
</p>
{% endif %}
{{ include.post.content }}
<p>
  <a href="{{ site.url }}/{{ include.post.category }}">
  {{ include.post.category }}
  </a>
  {% for tag in include/post/tags %}
  <a href="/indexes/#{{ tag | slugify | }}">
    {{ tag }}
  </a>
  {% endfor %}
  {% if include.post.link %}
  <a href="{{ include.post.link }}">
    link
  </a>
  {% endif %}
</p>
