{% assign page_tag = page.tags | first %}
{% assign related = site.tags[page_tag] | where_exp:"p", "p.id != page.id" | sample: 3 %}
{% if related.size > 1 %}
<div class="row d-none d-md-block">
  <div class="col-12 full-width">
    <div class="related-section">
      <div class="row related-title text-center">
        <div class="col">
          <h2>Related</h2>
        </div>
      </div>
      <div class="container-xl">
      <div class="row justify-content-md-center">
        {% for post in related %}
        <div class="col col-lg-3">
          <div class="related-card card-block card">
            {% assign post_image = post.image.path | default: post.image %}
            {%- assign post_image = post_image | default: site.image -%}
            {% if post_image %}
            {%- unless post_image contains "://" -%}
            {% picture {{ post_image }} --alt {{ post.title | escape }} --img class="card-img-top" %}
            {%- else -%}
            <img class="card-img-top" alt="{{ post.title | escape }}" src="{{ post_image }}">
            {%- endunless -%}
            {% endif %}
            <div class="card-body">
              <a href="{{ post.url | prepend: site.baseurl }}" class="card-link text-body stretched-link text-decoration-none" itemprop="url"></a>
              {% if post.title and post.title != "" %}
              <span class="card-title">{{ post.title | escape }}</span>
              {% else %}
              <span class="card-description" itemprop="description">
                {% assign post_summary = post.description | default: post.excerpt %}
                {{ post_summary | strip_html | normalize_whitespace | truncatewords: 20 }}
              </span>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
