{% assign page_tag = page.tags | first %}
{% assign related = site.tags[page_tag] | where_exp:"p", "p.id != page.id" | sample: 3 %}
{% if related.size > 1 %}
<aside class="related-wrapper" aria-labelledby="related-heading">
  <div class="related-frame">
    <div class="related-section">
      <div class="related-title">
        <div class="col">
          <h2 id="related-heading">Related</h2>
        </div>
      </div>
      <div class="container-xl">
      <div class="related-grid">
        {% for post in related %}
        {%- assign post_title = post.title | default: "Untitled post" | escape -%}
        <div class="related-item">
          <div class="related-card card-block card">
            {% assign post_image = post.image.path | default: post.image %}
            {%- assign post_image = post_image | default: site.image -%}
            {% if post_image %}
            {%- unless post_image contains "://" -%}
            {% picture {{ post_image }} --alt {{ post_title }} --img class="card-img-top" %}
            {%- else -%}
            <img class="card-img-top" alt="{{ post_title }}" src="{{ post_image }}">
            {%- endunless -%}
            {% endif %}
            <div class="card-body">
              <a href="{{ post.url | prepend: site.baseurl }}" class="card-link card-link-stretched" itemprop="url" aria-label="Read: {{ post_title }}">
                <span class="visually-hidden">Read: {{ post_title }}</span>
              </a>
              {% if post.title and post.title != "" %}
              <span class="card-title">{{ post_title }}</span>
              {% else %}
              <span class="card-description" itemprop="description">
                {% assign post_summary = post.description | default: post.excerpt %}
                {{ post_summary | strip_html | normalize_whitespace | truncatewords: 20 }}
              </span>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>
    </div>
  </div>
</aside>
{% endif %}
