{% assign authorDetails = site.data.authors[page.author] %}
<div class="post-share d-flex flex-row justify-content-center">
  <div class="p-2"><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank"><i class="fab fa-facebook"></i></a></div>
  <div class="p-2"><a href="https://twitter.com/intent/tweet?&text={{ page.title }}+{{ page.url | absolute_url }}{% if authorDetails %}+by+{{ authorDetails.name }}{% endif %}" target="_blank"><i class="fab fa-twitter"></i></a></div>
</div>
