{% if site.social_links or site.newsletter or site.feed %}
<div class="footer-social d-flex flex-wrap justify-content-center">
  {% if site.social_links %}
  {% for social in site.social_links %}
  <div class="tag-item">
    <a rel="me" href="{{ social['url'] }}" target="_blank">
      {{ social['title'] }}
    </a>
  </div>
  {% endfor %}
  {% endif %}
  {% if site.newsletter %}
  <div class="tag-item">
    <a rel="me" href="{{ site.newsletter }}" target="_blank">
      Newsletter
    </a>
  </div>
  {% endif %}
  {% if site.feed %}
  {% assign feed_path = site.feed.path | default: "/feed.xml" %}
  <div class="tag-item">
    <a rel="alternate" href="{{ feed_path | absolute_url }}" target="_blank">
      RSS
    </a>
  </div>
  {% endif %}
</div>
{% endif %}
