{% if site.social_links or site.newsletter or site.feed %}
<ul class="nav footer-nav footer-social">
  {% if site.social_links %}
  {% for social in site.social_links %}
  <li class="nav-item">
    <a class="nav-link" rel="me" href="{{ social['url'] }}" target="_blank">
      {{ social['title'] }}
    </a>
  </li>
  {% endfor %}
  {% endif %}
  {% if site.newsletter %}
  <li class="nav-item">
    <a class="nav-link" rel="me" href="{{ site.newsletter }}" target="_blank">
      Newsletter
    </a>
  </li>
  {% endif %}
  {% if site.feed %}
  {% assign feed_path = site.feed.path | default: "/feed.xml" %}
  <li class="nav-item">
    <a class="nav-link" rel="alternate" href="{{ feed_path | absolute_url }}" target="_blank">
      RSS
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
