{% capture page_title %}
{%- if page.type == 'year' -%}
{{ page.date | date: "%Y" }}
{%- elsif page.type == 'month' -%}
{{ page.date | date: "%B %Y" }}
{%- elsif page.type == 'day' -%}
{{ page.date | date: "%-d B %Y" }}
{%- else -%}
{{ page.title }}
{%- endif -%}
{% endcapture %}

<div class="row">
  <div class="col-12 full-width border-bottom">
    <section class="page-banner">
      <div class="container">
        {% if page_title and page_title != "" %}
        <h1 class="page-title" itemprop="name headline"><a href="{{ page_url }}">{{ page_title }}</a></h1>
        {% endif %}
        <div class="page-dateline">
          <a href="{{ page_url }}">
            <time class="" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | default: "now" | date: "%-d %b %Y" }}</time>
            <span class="page-location">
              {{ page.location | default: site.location }}
            </span>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
