<p>
  <a href="{{ include.post.url | prepend: site.url }}">
    {% if include.style != "post" %}
    <span class="post-title">{{ include.post.title }}</span>,
    {% endif %}
    {{ include.post.date | date_to_string }}{% if include.post.location %},
    {{ include.post.location }}{% endif %}
  </a>
  {% if include.style != "index" %}
  {% for category in include.post.categories %}
  <a href="{{ site.url }}/{{ category }}">
  {{ category }}
  </a>
  {% endfor %}
  {% if include.post.link %}
  <a href="{{ include.post.link }}">
    link
  </a>
  {% endif %}
  {% endif %}
  {% if include.style == "index" %}
  {% if include.post.description %}
  {{ include.post.description }}
  {% endif %}
  {% endif %}
  {% if include.post.author %}
  by
  {{ include.post.author }}
  {% endif %}
</p>
