// Bootstrap variables
$lead-font-size: 2rem;

// Custom variables
$page-body-size: 1.4rem;
$page-line-height: 1.7;
$page-code-size: 0.9rem;
$nav-body-size: 1rem;
$card-compact-size: 0.9rem;
$footer-note-size: 0.8rem;
