$post-body-size: 1.4rem;
$post-line-height: 1.7;

::selection {
  color: $white;
  background-color: $red;
}

.full-width {
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand,
.nav-link {
  font-size: 1rem;
  font-weight: $font-weight-bold;

  &:hover {
    text-decoration: underline;
  }
}

.navbar-nav {
  margin-left: auto;
}

.navbar-light .navbar-nav .nav-link  {
  color: $body-color;
}

.homepage-body {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.related-title {
  padding: 3rem 0;
}

.card-columns {
  @include media-breakpoint-up(sm) {
    column-count: 1;
  }
  @include media-breakpoint-up(md) {
    column-count: 2;
  }
}

.post-images {
  .card-columns {
    @include media-breakpoint-up(sm) {
      column-count: 2;
    }
  }
}

.homepage-body .card-columns {
  @include media-breakpoint-up(xl) {
    column-count: 3;
  }
}

.card-block {
  display: inline-block;

  &:hover {
    .card-img-top {
      transform: translate3d(0, -10px, 0);
    }
  }

  .card-body {
    font-size: $post-body-size;
    line-height: $post-line-height;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1.5rem;

    a {
      color: $body-color;
      text-decoration: none;
    }

    p {
      display: inline;
    }

    .card-description {
      strong {
        font-weight: $font-weight-normal;
      }
    }
  }

  .card-img-top {
    transition: transform 400ms ease-in-out;
  }
}

.article-banner {
  @extend .text-center;
  @extend .bg-white;
  @extend .py-5;

  .post-title {
    @extend .display-3;
  }
}

.post-title {
  a {
    color: $body-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.post-dateline {
  .page-location {
    &::before {
      content: "·"
    }
  }
}

.post-image {
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;

    .img-fluid {
      width: 100%;
  }
}

.post-body {
  font-size: $post-body-size;
  line-height: $post-line-height;

  padding: 2rem 0;

  .lead {
    font-size: 2rem;
  }

  blockquote {
    font-style: italic;
    font-size: $post-body-size;
  }

  .highlight {
    font-size: 0.9rem;

    pre {
      margin-left: 4ch;
    }
  }

  .post-content,
  .post-details {
    blockquote,
    figure,
    p,
    ul {
      a {
        text-decoration: none;
        border-bottom: 2px solid $gray-400;
        box-shadow: inset 0 -3px 0 $gray-400;
        color: $body-color;

        &:hover {
          border-bottom: 2px solid $gray-600;
          box-shadow: inset 0 -3px 0 $gray-600;
        }
      }
    }
  }

  .post-byline {
    margin-bottom: 0.25rem;
  }

  .post-content,
  .post-share {
    margin-bottom: 3rem;
  }

  .post-about {
    padding-top: 3rem;
  }

  img {
    @extend .img-fluid
  }
}

.post-share {
  list-style-type: none;
  font-size: 1.2rem;

  li {
    margin: 0 0.5rem;
  }

  a {
    color: $gray-400;
    text-decoration: none;

      &:hover {
        color: $gray-600;
      }
  }
}

.footer {
  background-color: $gray-900;
  color: $gray-100;

  padding: 1rem 0;

  a {
    text-decoration: none;
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-content {
    padding: 3rem 0;
  }

  .footer-collections {
    margin-bottom: 1.5rem;
  }
}

.page-link {
  color: $body-color;

  &:hover {
    color: $body-color;
  }
}

.post-social,
.footer-social {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
}

.tag-item {
  padding: .5rem;
}

.link-domain {
  font-weight: $font-weight-normal;
}

.link-path {
  color: $gray-800;
  font-weight: $font-weight-lighter;
}
