---
layout: container
itemprop: article
itemtype: https://schema.org/Article
---

<article itemprop="{{ layout.itemprop }}" itemscope itemtype="{{ layout.itemtype }}">

  {% include title.html %}

  <div class="page-body" itemprop="articleBody">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 border-bottom">
        <div class="page-container">
          <div class="page-content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

</article>
