---
layout: default
---
<article data-rmd="h1-underline h2-underline">
  {% if page.layout == "post" %}
  {% assign header = page.category | capitalize %}
  {% else %}
  {% assign header = page.title %}
  {% endif %}
  <div data-rmd="h1-underline">
    <h2>
      {{ header }}
    </h2>
  </div>

  {{ content }}

  <hr/>

  <a href="{{ page.url | prepend: site.url }}">
    self
  </a>

  <a href="{{ page.path | prepend: site.source_url}}">
    source
  </a>

  {% if site.license %}
  <a href="{{ site.license_url }}">
    license
  </a>
  {% endif %}

</article>
