---
layout: page
---

{%- capture page_class -%}
  {%- if page.category -%}
  {{ page.category | prepend: "category-" }}
  {%- else -%}
  category-none
  {%- endif -%}
{%- endcapture -%}

<article class="{{ page_class }}" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="row">
    <div class="col-12 full-width border-bottom">
      <section class="article-banner">
        <div class="container">
          {% if page.title and page.title != "" %}
          <h1 class="post-title" itemprop="name headline"><a href="{{ page_url }}">{{ page.title }}</a></h1>
          {% endif %}
          <div class="post-dateline">
            <a href="{{ page_url }}">
            <time class="" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | default: "now" | date: "%-d %b %Y" }}</time>
            <span class="page-location">
              {{ page.location | default: site.location }}
            </span>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>

  {% assign page_image = page.image.path | default: page.image %}
  {% if page_image %}
  {% assign image_title = page.image.title | default: page.title %}
  <div class="row justify-content-center border-bottom">
    <div class="col-12 col-sm-10 col-md-9 col-lg-8 col-xl-7 full-width">
      <section class="post-image">
        <img class="img-fluid" alt="{{ image_title | escape }}" src="{{ page_image }}">
      </section>
    </div>
  </div>
  {% endif %}

  <div class="post-body" itemprop="articleBody">
    <div class="post-main">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 border-bottom">
          <div class="post-container">
            <div class="post-content">
              {{ content }}
            </div>

            <div class="post-details">
              {% if page.source %}
              <p>
                Source:
                <a href="{{ page.source }}">
                  {% assign links = page.source | split: "/" %}
                  {{ links[2] }}
                </a>
              </p>
              {% endif %}

              {% if page.category %}
              {% assign topic = site.topics | where: "slug", page.category | first %}
              {% if topic %}
              <p>Category: <a href="{{ topic.url }}">{{ topic.title }}</a></p>
              {% endif %}
              {% endif %}
            </div>

            <div class="post-share">
              {% include share.html %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="post-about">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-7">
          <div class="post-details">
            <p class="post-byline">
              {% for author in page.author %}
              {% assign authorDetails = site.data.authors[author] %}
              <strong>
                {% if forloop.first == true %} Posted by {% else %} &amp; {% endif %}
                {% if authorDetails.uri %}<a href="{{ authorDetails.uri }}" title="More By {{ authorDetails.name | escape }}">{% endif %}{{ authorDetails.name | escape }}{% if authorDetails.uri %}</a>{% endif %}
              </strong>
              {% else %}
              <strong>About</strong>
              {% endfor %}
            </p>
            {% for author in page.author %}
            {% assign authorDetails = site.data.authors[author] %}
            <p>{{ authorDetails.description }}</p>
            {% endfor %}
          </div>
          <div class="post-details">
            <p>
              <small>
                <a href="{{ page.path | prepend: site.source_url}}">
                  Read the source code for this page.
                </a>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if page.collection == "posts" %}
  {% include related.html %}
  {% endif %}
</article>
