---
layout: article
itemprop: blogPost
itemtype: http://schema.org/BlogPosting
---

<div class="page-content">
{{ content }}
</div>

<div class="page-details">
  {% if page.source %}
  <p>
    Source:
    <a href="{{ page.source }}">
      {% assign links = page.source | split: "/" %}
      {{ links[2] }}
    </a>
  </p>
  {% endif %}

  {% for archive in site.archives %}
  {% if archive.type == "category" and archive.title == page.category %}
  <p>Category: <a href="{{ archive.url }}">{{ archive.title }}</a></p>
  {% endif %}
  {% endfor %}
</div>

<div class="page-share">
  {% include share.html %}
</div>
