---
layout: article
itemprop: blogPost
itemtype: http://schema.org/BlogPosting
---

<div class="page-content">
{{ content }}
</div>

<div class="page-details">
  {% if page.source %}
  <p>
    Source:
    <a href="{{ page.source }}">
      {% assign links = page.source | split: "/" %}
      {{ links[2] }}
    </a>
  </p>
  {% endif %}

  <p>
    Filed under:
    <span class="comma-links">
    {% for archive in site.archives %}
    {% if archive.type == "category" and archive.title == page.category %}
    <a href="{{ archive.url }}">{{ archive.title }}</a>
    {% endif %}
    {% endfor %}

    {% for tag in page.tags %}
    {% for archive in site.archives %}
    {% if archive.type == "tag" and archive.title == tag %}
    <a href="{{ archive.url }}">{{ archive.title }}</a>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </span>
  </p>
</div>
